/* mobile design */
#aboutSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 35);
  color: white;
  height: 100vw;
  margin-top: 20vw;
}

#aboutHeader {
  margin: 10vw 5vw 0 5vw;
}

#aboutHeader p {
  font-size: 8vw;
  margin: 0;
  padding: 0;
}

.ohioText {
  font-weight: bold;
  color: rgb(75, 75, 78);
}

#aboutMain {
  margin: 10vw 5vw 0 5vw;
}

#aboutMain p {
  margin-top: 10vw;
  font-size: 5vw;
  /* font-size: clamp(20px, 5vw, 50px); */
  /* font-size: max(5vw, 20px); */
}

.contactMe {
  color: white;
  text-decoration: underline;
}

@media (min-width:750px) {

  #aboutHeader {
    margin: 74px 20px 0px 38px;
  }

  #aboutHeader p{
    font-size: 60px;
  }
  
  #aboutMain {
    margin: 74px 50px 0px 38px;
  }

  #aboutMain p {
    margin-top: 72px;
    font-size: 37px;
  }
  #aboutSection {
    height: 751px;
    margin-top: 150px;
  }
}


