/* mobile design */
#aboutSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 35);
  color: white;
  height: 100vw;
  margin-top: 20vw;
}

#aboutHeader {
  margin: 10vw 5vw 0 5vw;
}

#aboutHeader p {
  font-size: 8vw;
  margin: 0;
  padding: 0;
}

.ohioText {
  font-weight: bold;
  color: rgb(75, 75, 78);
}

#aboutMain {
  margin: 10vw 5vw 0 5vw;
}

#aboutMain p {
  margin-top: 10vw;
  font-size: 5vw;
}

.contactMe {
  color: white;
  text-decoration: underline;
}


