/* mobile design */
#aboutSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 35);
  color: white;
  height: calc(100vh - 20vw);
  max-height: 1100px;
  margin-top: 20vw;
}

#aboutHeader {
  margin: 10vh 10px 0 10px;
  padding: 0;
}

#aboutHeader p {
  font-size: 10vw;
  margin: 0;
  padding: 0;
}

.ohioText {
  font-weight: bold;
  color: rgb(75, 75, 78);
}

#aboutMain {
  margin: 0 10px 0 10px;
}

#aboutMain p {
  margin-top: 20vw;
  font-size: 7vw;
  /* font-size: clamp(20px, 5vw, 50px); */
  /* font-size: max(5vw, 20px); */
}

.contactMe {
  color: white;
  text-decoration: underline;
}

@media (min-width:620px) {

  #aboutHeader {
    margin: 74px 20px 0px 38px;
  }

  #aboutHeader p{
    font-size: min(6vh, 80px);
  }
  
  #aboutMain {
    margin: 0px 50px 0px 38px;
  }

  #aboutMain p {
    margin-top: min(15vh, 150px);
    font-size: min(4vh, 50px);
  }
  #aboutSection {
  height: calc(100vh - 150px);
    margin-top: 150px;
  }
}


