#contactSection {
  background-color: hsl(240, 18%, 7%);
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20vw);
  max-height: 1100px;
  align-items: center;
  padding-top: 2vw;
  z-index: 10;
  scroll-margin-top: 18vw;
}

#contactHeader {
  color: white;
}

/* #contactHeader h1 {
  margin-top: 0;
  text-align: center;
  color: white;
  font-size: 15vw;
} */

#contactSection p.contactParagraph {
  text-shadow: 2px 2px 5px black;
  font-size: 15vw;
}

#contactSection p {
  margin: 0;
  color: white;
}

#contactHeader p {
  text-align: center;
  color: white;
  font-size: 7vw;
  margin-bottom: 5vh;
}


#contactMain {
  display: flex;
  flex-direction: column ;
  align-items: center;
  /* margin-top: 12vh; */
  width: 100%;
  justify-content: space-around;
}

#contactMain p {
  font-size: 7vw;
}

#contactMain img {
  /* background-color: white; */
  width: 13vh;
  margin-bottom: 5vh;
  cursor: pointer;
}

#contactMain a {
  font-size: 0;
}

#githubImg {
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 10px 20px black;
  transition: .3s;
}


#githubImg:hover { 
  translate: 0px 5px;
  box-shadow: none;
}

#linkedinImg {
  border-radius: 2vw;
  background-color: white;
  box-shadow: 0px 10px 20px black;
  transition: .3s;
}

#linkedinImg:hover { 
  translate: 0px 5px;
  box-shadow: none;
}

#gmailImg{
  border-radius: 2vw;
  /* background-color: rgba(0, 0, 0, 0.960); */
  background-color: white;
  box-shadow: 0px 10px 20px black;
  transition: .3s;
}

#gmailImg:hover { 
  translate: 0px 5px;
  box-shadow: none;
}

#contactFooter {
  position: absolute;
  display: flex;
  bottom: 3vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 4vw;
}

#contactFooter img {
  color: white;
  width: 5vw;
}

#contactFooter div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#phone {
  white-space: nowrap;
}

@media (min-width:800px) {

  #contactSection {
    justify-content: space-between;
    height: calc(100vh - 3rem);
    padding-top: 0;
    max-height: none;
    scroll-margin-top: 3rem;
  }

  /* #contactSection p .contactParagraph {
    font-size: 4rem;
  } */

  #contactHeader {
    align-self: flex-start;
  }

  #contactHeader p.contactSecondParagraph {
    margin: 0;
    padding-top: 6vh;
    padding-left: 2vw;
    font-size: 4rem;
  }

  /* #contactHeader p.contactParagraph {
    margin: 0;
    padding-top: 6vh;
    padding-left: 2vw;
    font-size: 4rem;
  } */

  #contactHeader .contactParagraph {
    display: none;
  }

  #contactMain {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #contactMain img {
    width: min(18vw, 300px);
    margin-bottom: 0;
  }

  .githubBG {
    /* background-color: white; */
  }

  #contactFooter {
    position: initial;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10vw;
    color: white;
    font-size: 2rem;
  }

  #contactFooter {
    margin-bottom: 4vh;
  }

  #contactFooter img {
    width: 3rem;
  }
}
