#contactSection {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vw;
  align-items: center;
  justify-content: space-between;
}

#contactHeader {
  color: white;
}

#contactHeader h1 {
  margin-top: 0;
  text-align: center;
  color: white;
  font-size: 10vw;
}

#contactSection p {
  margin: 0;
  color: white;
}

#contactHeader p {
  text-align: center;
  color: white;
  font-size: 7vw;
}

#contactMain {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#contactMain p {
  font-size: 7vw;
}

#contactMain img {
  width: 10vw;
}

#contactFooter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 5vw;
}

#githubImg {
  border-radius: 5vw;
  background-color: white;
}
#linkedinImg {
  border-radius: 1vw;
  background-color: white;
}