#contactSection {
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vw;
  align-items: center;
  padding-top: 2vw;
  z-index: 10;
}

#contactHeader {
  color: white;
}

#contactHeader h1 {
  margin-top: 0;
  text-align: center;
  color: white;
  font-size: 10vw;
}

#contactSection p {
  margin: 0;
  color: white;
}

#contactHeader p {
  text-align: center;
  color: white;
  font-size: 7vw;
}

#contactMain {
  display: flex;
  margin-top: 12vw;
  width: 100%;
  justify-content: space-around;
}

#contactMain p {
  font-size: 7vw;
}

#contactMain img {
  width: 20vw;
  cursor: pointer;
}

#contactMain a {
  font-size: 0;
}

#githubImg {
  border-radius: 10vw;
}

#linkedinImg {
  border-radius: 2vw;
  background-color: white;
}

#gmailImg{
  border-radius: 2vw;
  background-color: black;
}

#contactFooter {
  position: absolute;
  display: flex;
  bottom: 14vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 4vw;
}

#contactFooter img {
  color: white;
  width: 5vw;
}

#contactFooter div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}