body {
  margin: 0;
  padding: 0;
  /* max-width: 600px; */
  /* padding-top: 10vw; */
  background-color:bisque;
}

#root {
  display: flex;
  justify-content: center;
}

/* For Webkit-based browsers (CHrome, Safari and Opera) */
 .scrollbar-hide {
  display:none;
 }

 /* For IE, Edge and Firefox */
 .scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none ;
 }
