.samplesSection {
  display: flex;
  background-color: rgb(24, 24, 35);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250vw;
  scroll-margin-top: 18vw;
}

.samplesHeader {
  color: white;
  font-size: 15vw;
  padding-top: 8vw;
  text-shadow: 2px 2px 5px black;
  /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}

.samplesHeaderDesktop {
  display: none;
}

.samplesHeaderDesktop p {
  display: none;
}

.samplesMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 90%;
}

.samplesMain div {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10vw;
  height: 50vw;
  width: 100%;
  color: black;
  font-size: 5vw;
  text-align: center;
  cursor: pointer;
}

.samplesProject {
  box-shadow: 0vw 3vw 3vw black;
  overflow: hidden;
  transition: .1s linear;
}


.samplesProject:active {
  transform: translate(0px, 10px);
}

:is(.samplesProject:hover, .samplesProject:focus) {
  /* transform: translate(0px, 10px); */
  outline: solid 10px #1B4DFF ;
  transition: .1s ;
}


.samplesMain img {
  background-color: black;
  width: 60%;
  height: 100%;
}

main div p {
  width: 100%;
  padding: 0 2vw 0 2vw;
  white-space: nowrap;
}

#samplesSection footer {
  display: none;
}

@media (min-width:800px) {

  #samplesSection {
    height: calc(100vh - 3rem);
    scroll-margin-top: 3rem;
  }

  main div p {
    padding: 0 6px 0 6px;
  }

  .samplesProject {
    box-shadow: 0px 15px 15px black;
    transition: .3s;
  }


  .samplesProject:active {
    box-shadow: none;
  }

  .samplesProject p {
    font-size: min(2vw, 2rem);
  }

  .samplesHeader {
    display: none;
  }

  .samplesHeaderDesktop {
    color: white;
    display: block;
    font-size: 4rem;
    width: 100%;
    text-align: left;
  }

  .samplesHeaderDesktop p {
    display: block;
    text-shadow: 2px 2px 5px black;
    margin: 0;
    padding-left: 2vw;
  }

  .samplesMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }

  .samplesMain div {
    flex-direction: column;
    /* height: 22vw; */
    /* width: 22vw; */
    height: min(18vw, 400px);
    width: min(18vw, 400px);
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 30px;
  }

  .samplesMain p {
    margin: 1vw;
  }

  .samplesMain img {
    /* border-radius: 0 0 0 0; */
    border-radius: 20px;
    width: 100%;
    height: 75%;
  }

  #samplesSection footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
  }

  #samplesSection footer a {
    color: white;
    font-size: max(1.3vw, 1.3rem);
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 2vw;
    text-decoration: none;
    background-color: #1B4DFF ;
    white-space: nowrap;
    transition: .4s;
  }

  #samplesSection footer p {
    margin-top: 0;
  }

  #samplesSection footer a:hover {
    background-color: white;
    color: #1B4DFF ;
  }
}