/* mobile design */
#skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(240, 18%, 7%);
  color: white;
  height: calc(100vh - 20vw);
  max-height: 1100px;
  scroll-margin-top: 18vw;
}

#skillsSection header {
  font-size: 15vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  text-shadow: 3px 3px 5px black;
}

#skillsMain {
  display: flex;
  column-gap: 20vw;
  font-size: 3vw;
}


#skillsMain ol {
  list-style: none;
  padding: 0;
  margin-bottom: 100px;
}

#skillsMain li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 0 2vh 0;
  text-shadow: 3px 3px 5px black;
}

#skillsMain img {
  width: min(13vh, 75px);
}

@media (min-width:800px) {

  #skillsSection {
    justify-content: space-around;
  }

  #skillsSection header {
    font-size: 4rem;
    align-self: start;
    margin-top: 5vh;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px black;
    border: initial;
    padding-left: 2vw;
  }

  #skillsMain {
    column-gap: 30vw;
  }

  #skillsMain ol {
    padding:0;
    font-size: min(4vw, 3rem);
  }

  #skillsMain li {
    flex-direction: row;
    margin-bottom: 10px;
  }

  #skillsMain img {
    width: min(13vh, 300px);
  }

  #skillsSection {
    height: calc(100vh - 3rem);
    scroll-margin-top: 3rem;
  }
}
