/* mobile design */
#skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15vw;
  background-color: black;
  color: white;
  height: calc(100vh - 20vw);
  scroll-margin-top: 18vw;
}

#skillsSection header {
  margin-top: 8px;
}

#skillsMain {
  display: flex;
  column-gap: 20vw;
  font-size: 5vw;
}


#skillsMain ol {
  list-style: none;
  padding: 10vh 0 0 0;
  margin: 0;
}

#skillsMain li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 0 2vh 0;
}

#skillsMain img {
  width: 20vw;
}

@media (min-width:620px) {

  #skillsMain {
    font-size:30px;
    column-gap: 200px;
  }

  #skillsMain ol {
    padding: 5vh 0 0 0;
  }

  #skillsMain img {
    width: 30vw;
  }

  #skillsMain li {
    margin-bottom: 10px;
  }

  #skillsMain img {
    width: 100px;
  }

  #skillsSection {
    height: calc(100vh - 150px);
    /* height: 751px; */
    font-size: 100px;
    scroll-margin-top: 130px;
  }
}
