/* mobile design */
#skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  height: calc(100vh - 20vw);
  max-height: 1100px;
  scroll-margin-top: 18vw;
}

#skillsSection header {
  font-size: 15vw;
  margin-top: 8px;
  text-shadow: 2px 2px 5px black;
  border-bottom: solid;
}

#skillsMain {
  display: flex;
  column-gap: 20vw;
  font-size: 5vw;
}


#skillsMain ol {
  list-style: none;
  padding: 10vh 0 0 0;
  margin: 0;
}

#skillsMain li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 0 2vh 0;
}

#skillsMain img {
  width: 20vw;
}

@media (min-width:800px) {

  #skillsSection {
    /* background-color: #181823f1; */
    background-color: rgba(0, 0, 0, 0.960);
    justify-content: space-evenly;
  }

  #skillsSection header {
    font-size: 4rem;
    margin-top: 8px;
    align-self: start;
    text-shadow: 2px 2px 5px black;
    border: initial;
    padding-left: 2vw;
  }

  #skillsMain {

    /* font-size: max(3vw, 3rem); */
    font-size:30px;
    column-gap: 30vw;
  }

  #skillsMain ol {
    /* padding: 10vh 0 0 0; */
    /* padding: 120px 0 0 0; */
    /* padding: min(10vh, 70px) 0 0 0; */
    padding:0;
  }

  #skillsMain li {
    flex-direction: row;
    margin-bottom: 10px;
  }

  #skillsMain img {
    width: min(15vh, 150px);
  }

  #skillsSection {
    height: calc(100vh - 3rem);
    max-height: none;
    font-size: 100px;
    scroll-margin-top: 3rem;
  }
}
