:root{
    --background-color: #202020;
}

html, body{
    margin:0;

}

.App {
    text-align: center;
}

.Header {
    display:flex;
    background-color: var(--background-color);
    /* min-height: 100vh; */
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.Header-Items {
    margin: 20px;
}

